@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family:
            Inter,
            "Segoe UI",
            Roboto,
            sans-serif;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f1b6ca;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ec7fa9;
}